<!DOCTYPE html>
<html lang="en">
<head>
  <title>Best Members</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
 <div class="container">
    <div class="button-group text-center">
    <a href="/adminHome">
      <button class="btn btn-info">Home</button>
    </a>
    <a href="/logout">
      <button class="btn btn-default">Logout</button>
    </a>
  </div><br>
      <% if (typeof msg != "undefined") { %>
        <h2 class="text-center" style="color: red"><%= msg %></h2>
      <% } %>

		<h2 class= "text-center">All the page details</h2><br>

        <div class="table-responsive">          
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Serial</th>
        <th>Place</th>
        <th>Details</th>
        <th>Hotel</th>
        <th>Category</th>
        <th>LastEdit</th>
        <th>Capacity</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <% for(var i=0;i<result.length;i++) { %>
      <tr>
        <td><%= i+1 %></td>
        <td><%= result[i].plcaeName %></td>
        <td><%= result[i].details  %></td>
        <td><%= result[i].hotel %></td>
        <td><%= result[i].category %></td>
        <td><%= result[i].lastEdit %></td>
        <td><%= result[i].capacity %></td>
        <td><a href="showAll/edit/<%= result[i].id %>"><button class="btn btn-warning btn-sm">Edit</button></a></td>
        <td><a href="showAll/del/<%= result[i].id %>"><button class="btn btn-danger btn-sm">Delete</button></a></td>
      </tr>
      <% } %>
    </tbody>
  </table>
  </div>
</div>
 </div>
</body>
</html>